@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: secondaryFont;
  src: url('../assets/Raleway-Light.ttf');
}
@font-face {
  font-family: primaryFont;
  src: url('../assets/Raleway-Regular.ttf');
}
.checkbox-rounded {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.checkbox-rounded:checked {
  background-color: gray;
}

@keyframes shake {
  50% {
    translate: -5px;
  }
  100%, 0% {
    translate: 5px
  }
}

.animate-shake {
  animation: shake 300ms infinite linear;
}

.hold {
  position: relative;
}

input[required="required"]:valid + .req_placeholder {
  display: none;
}

.req_placeholder {
  transition: all 0.2s;
}
.req_placeholder.shrink {
  opacity: 0
}

