@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: primaryFont;
  src: url('../assets/Candara.ttf');
}
@font-face {
  font-family: primaryFont;
  src: url('../assets/Candaral.ttf');
  font-weight: 300;
}
.checkbox-rounded {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.checkbox-rounded:checked {
  background-color: gray;
}

@keyframes shake {
  50% {
    translate: -5px;
  }
  100%, 0% {
    translate: 5px
  }
}

.animate-shake {
  animation: shake 300ms infinite linear;
}